info {
    font-size: 20px;
    text-transform: capitalize;
    font-style: normal;
    text-shadow: rgb(255, 0, 0) -1px 0px 0px, rgb(0, 255, 255) 1px 0px 0px;
    text-align: center;
}

left {
    text-align: left;
}

config .dificuldade {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

config .buttons-game {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}

config p{
    margin:5px;
}