.pipe{
    bottom: 0;
    width: 80px;
    right: -80px;
    animation: pipe-animation 2s infinite linear;
    -webkit-animation: pipe-animation 2s infinite linear;
}

.mario{
    bottom: 0;
    width: 150px;
}